<%= render "shared/header" %>
<div class='item-contents'>
    <h3 class='title'><%= "#{@user.nickname}さんの情報" %></h3>
    
    
    <ul class='item-lists'>

      
     <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id), method: :get do %>
          <div class='item-img-content'>
             <%= image_tag post.image, class: "item-img" %>
          </div>
          <div class='item-info'>
               <h3 class='item-name'>
                  <%= post.name %>
               </h3>
              <div class='item-price'>
                 <span><%= post.info %></span>
              </div> 
             <div class='star-btn'>
                 <%= image_tag "star.png", class:"star-icon" %>
                 <span><%= "#{post.likes.count} いいね！" %></span>
             </div>
          </div>
        <% end %>
      </li>
      <% end %>
    
     
      
    </ul>
    <%= paginate @posts %>
  </div>
<%= render "shared/footer" %>
