
<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to link_to 'COFFEE PASSPORT', root_path, class:"second-fotter-logo"%>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with(model: @post, local: true) do |f| %>

    
    <%= render 'shared/error_messages', model: f.object %>
   

    
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    
    <div class="new-items">
      <div class="weight-bold-text">
        おすすめのコーヒー
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"コーヒー名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          コーヒーのご意見
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :info, class:"items-text", id:"item-info", placeholder:"コーヒーの感想（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    
    <div class="items-detail">
      <div class="weight-bold-text">コーヒーの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          風味のキーワード
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:flavor_id, Flavor.all, :id, :name, {}, {class:"select-box", id:"post-flavor"}) %>
        <div class="weight-bold-text">
          地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"select-box", id:"post-region"}) %>
        <div class="weight-bold-text">
          コク
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:body_id, Body.all, :id, :name, {}, {class:"select-box", id:"post-body"}) %>
        <div class="weight-bold-text">
          酸味
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:acidity_id, Acidity.all, :id, :name, {}, {class:"select-box", id:"post-acidity"}) %>
        <div class="weight-bold-text">
          加工法
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:processing_id, Processing.all, :id, :name, {}, {class:"select-box", id:"post-processing"}) %>
        <div class="weight-bold-text">
        相性の良い風味
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :text, class:"items-text", id:"post-text", placeholder:"例,シナモン,メープル,バター", maxlength:"40" %>
      </div>
    </div>          
    
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu"> 
    </ul>
    <%= link_to link_to 'COFFEE PASSPORT', root_path, class:"second-fotter-logo"%>
    <p class="inc">
    </p>
  </footer>
</div>