<div class='main'>
<%= render "shared/header" %> 
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
  
    <h2 class='service-title'>
      COFFEE PASSPORT
    </h2>
    <h3 class='service-explain'>
      あなたの一杯教えて下さい
    </h3>
    <h3 class='service-explain'>
      自由な意見から、新しい一杯が！
    </h3>
    
    <div class='store-btn'>
      <%# <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %> 
      <%# <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %> 
    </div>
  </div>
  

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>あなたのおすすめな一杯教えて下さい！</h2>
    
    <%# <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %> 
       <%# <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %> 
       <%# <%= form.submit "検索", class: "search-btn" %> 
    <%# <% end %> 
  
    



    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
     <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id), method: :get do %>
          <div class='item-img-content'>
             <%= image_tag post.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= post.name %>
            </h3>
            <div class='item-price'>
              <span><%= post.info %></span>
             </div> 
              <div class='star-btn'>
              <%# <%= image_tag "star.png", class:"star-icon" %> 
              <%# <span><%= "#{post.likes.count} いいね！" %></span> 
              
              </div>

          </div>
        <% end %>
      </li>
      <% end %>
    
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      
      
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      
    </ul>
    <%# <%= paginate @posts %> 
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_post_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <i class="fas fa-coffee"></i>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
<% end %>
<%= render "shared/footer" %>